{% extends "base.html" %}

{% block title %}Відгуки від клієнтів{% endblock %}

{% block content %}
  <div class="reviews">
    <h1 class="reviews-title">Відгуки від задоволених клієнтів</h1>

    <div class="review">
      <div class="review-details">
        <h2 class="customer-name">Ім'я Клієнта 1</h2>
        <p class="customer-feedback">"Прекрасний досвід співпраці! Розробка веб-сайту була проведена швидко та професійно. Рекомендую!"</p>
      </div>
    </div>

    <div class="review">

      <div class="review-details">
        <h2 class="customer-name">Ім'я Клієнта 2</h2>
        <p class="customer-feedback">"Вражаюча робота! Веб-розробник виявив високий рівень кваліфікації та відзначився творчим підходом."</p>
      </div>
    </div>

    <div class="review">

      <div class="review-details">
        <h2 class="customer-name">Ім'я Клієнта 3</h2>
        <p class="customer-feedback">"Дуже задоволений результатом. З командою працювати легко, завдання виконані на високому рівні!"</p>
      </div>
    </div>

    <!-- Додайте інші відгуки та їх зображення за необхідності -->

  </div>
{% endblock %}
